:host ::ng-deep nb-stepper .step-content {
    text-align: center;
  
    button {
      cursor: pointer;
    //   margin: 0.5rem;
    }
    .row {
        margin-bottom: 15px;
    }
    // .select-button {
    //     margin: 0!important;
    // }


}
